name: Windows Build Release

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    name: Windows Build Release

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up MSVC (x64)
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Configure (Release)
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        run: ctest --test-dir build --output-on-failure
